
html {
    overflow: hidden;
    height: 100%;
}
.column-close button{
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}
.column-close{
	display: flex;
	justify-content: flex-end;
}
body{
	height: 100%;
}
.height-3{
	height: calc(100% - 3.5rem);
}
.height-1{
	height: calc(100% - 1.5rem);
}
.height-100vh{
	height: 100vh;
}
.height-100{
	height: 100%;
}
.border-radius{
	border-radius: 5px;
}
.padding-left-0{
	padding-left: 0;
}
.padding-bar{
	padding: 0.75em !important;
}
.padding-1{
	padding:1rem;
}
.padding-bt-0{
	padding-top: 0;
	padding-bottom: 0;
}
.no-padding-bottom{
	padding-bottom: 0;
}
.no-padding-top{
	padding-top: 0;
}
.white{
	color: white !important;
}
.gray-light{
	background: #F2F1F1;
}
.gray-g{
	background: #ececec;
}
.blue-green{
	background: #1ABC9C;
}
.blue-dark{
	background: #666666;
}
.blueb{
	background: #34495E;
}
.pink{
	background: #F34257;
}
.centered{
	align-items: center;
	justify-content: center;
}
.is-active{  
	background: rgba(255,255,255,.2) !important;
}
.border-5{
	border-radius: 5px;
}
.font-name{
    font-size: 0.90rem;
    font-weight: 500;
}
.text-hour {
    margin-bottom: 0.6rem;
    color: #34495E;
}
.font-date-name{
	font-size: 0.85rem;
}
.menu-list > a:hover{
	background: rgba(255,255,255,.1) !important;
}
.text-question{
    color: #34495E;
    font-weight: 600;
}
.radius-desktop{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.articlec{
	align-items: center;
}
.border{
	
	border: 1px solid #eee;
}
.cont{
	position: absolute;
	width: 100%;
	bottom: 2px;
	display: flex;
	justify-content: center;
}
.divRetroalimentacionCancelar{
	min-height: 82px;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-content: center;
}
.button-general {
    border: none;
    border-radius: 5px;
}
.register-button {

    background: #34495E;
    color: white;
    border-radius: 5px;

}
.cont div{

	margin-right: 5%;
	width: 4px;
	height: 4px;
	border-radius: 20px;
	background: gray;
}
.border-bot{
	border-bottom: 1px solid #eee;
}
.border-bot-white{
	border-bottom:1px solid #FBFDFF;
	cursor: pointer;
}
.showModal{
	display: flex;
	animation: modal 2.6s ;
}
.field-body{
	padding-top: 0;
	padding-bottom: 0;
}
.cont-height{
	overflow-y: auto;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.point{
	cursor: pointer;
}
.header-day {
    padding: 5px;
    font-size: 0.8rem;
}
.field-height{
	height: 80px;
    display: flex;
    flex-wrap: wrap;
}
.body-hours{
	padding: 0;
    color: #95989A;
    font-size: 0.85rem;
    line-height: 0px;
}
.body-hours p{
	margin: auto;
	font-size: 0.75rem;
	height: 0.75rem;
	line-height: initial;
	text-align: center;
}
.ase-extremo{
    height: 20px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.ase-medio{
	height: 20px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.field-height-mens{
	height: 30px;
}
.hiddenH{
	display: none;

}
.show{
	display: block;
	animation: mymove .5s ;
}

.radio{
	margin: auto;
}
.field-up{

	height: 40px;
	display: flex;
}
.field-down{
	border-bottom: 1px solid #95989A;
	border-top: 1px solid #95989A;
	height: 40px;
}
.field-do{
	border-bottom: 1px solid #95989A;
	height: 40px;
}


@keyframes modal {
	
	0%   {opacity:0; transition: .2s all;
	}
	50%   {opacity:1; transition: .2s all;
	}
	100% {opacity:0; transition: .2s all;
	}
}
@keyframes mymove {
	
	0%   {transform: rotateY( 270deg );
	}
	100% {transform: rotateY( 360deg );}
}

.bloques{
	    width: calc(100% - 10px);
    height: 20px;
    background: #f5f5f5;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}
/**------HISTORIAL--------------**/


.field-width{
	width: 100%;
}

.div-cont{

	width: 100%;
	margin: auto;
	margin-top: 10px;
}

/*Contenedor principal de datos*/
.cont-ase{
	width: 98%;
	height: 90px;
	margin: auto 0px;
	border-bottom: 1px solid rgba(149,152,154,.3);
	
}

.cont-date{

	width: 10%;
	height: 100%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

.date-ase{
	width: 58px;
	height: 58px;
	background: #1ABC9C;
	border-radius: 5px;
	display: flex;
	position: relative;
}
.noti-ase{
	width: 50px;
	height: 50px;
	background: #1ABC9C;
	margin: auto;
	border-radius: 5px;
	display: flex;
	position: relative;
}
.noti-ase span{
	position: absolute;
	float: right;
	right: 1px;
	margin: 1px;
	color: white;
}
.date-ase span{
	position: absolute;
	float: right;
	right: 1px;
	margin: 2.5px;
	color: white;
}

.contInfo {
    width: 10%;
    display: flex;
}
.iconInfo {
    margin: auto;
    color: #858887;
    margin-bottom: 0;
    margin-right: 0;
}
.cont-inf{
	width: 90%;
	height: 100%;
	display: flex;
}

.ase-inf{
	width: 100%;
	

	margin: auto;
	display: flex;
}

.ase{
	margin: auto;
	margin-left: 0;
}

.gray{
	color: #656565;
	font-size: 0.85rem;
}


.date{
	width: 50%;
	margin: auto;
	text-align: center;
	color: white;
	line-height: 1;
}
.border-bottom{
	border-bottom: 1px solid #95989A;
}
.space{
	width: 20%;
}
.mod{
	margin-left: -8px;
}
.header-h1 {
    color: #666666;
    font-weight: 600;
}
.date-blue{
	font-size: 0.90rem !important;
	color: white !important;
}
.gray-bar{
	background: #ECECEC;
}
/*Clases perfil*/
.conti{
	height: 70px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}

.p-height{
	font-size: 0.80rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.header-mat{
	height: 25px;
	border-radius: 5px;
	font-size: .85rem;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.dis{
	display: flex;
}

.algo{
	margin: auto;
}

.padding-bot{
	padding-bottom: 0;
}

.padding-top{
	padding-top: 0;
}
.padding-sides{
	padding: 1.5rem;
}
.option-mod-active {
	
	padding:0px  0.25rem;
	background: #1ABC9C;
	color: white !important;
	border-radius: 5px;
}

.option-mod {
	margin: 10px; 
}

.principal-container-hours {
	
	display: flex;
	justify-content: center;
	align-content: center;
	
}

.control-hours {
	margin: auto;
	font-size: 1.1rem;
	color: #4a4a4a;
	cursor: pointer;
	
}

.hour-start {
	margin: auto;
	font-size: 1.1rem;
	color: #4a4a4a;
	
}

.container-middle-time div {
	color: white;
	border-radius: 5px;
	padding-bottom: calc(0.375em - 1px);
	padding-top: calc(0.375em - 1px);
	max-width: 50px;
	margin: auto;
	cursor: pointer;
	background: #1ABC9C;
	
}
.field-up {
	height: auto;
	padding: 5px;
	display: flex;
	overflow: hidden;
	cursor: pointer;
}

.field-up label input{
	cursor: pointer;
	-webkit-appearance:none;
}

.radio {
	margin: auto;
	padding: 10px;
	
}

/** Area notificaciones**/
.rounded{
	border-radius:5px;
}
.text-white{
	color: white;
}
.icon-container{
	width: 64px;
	height: 64px;
}
.turq-color{
	background:#1ABC9C;
}
.w-50{
	width: 50px;
}
.h-50{
	height: 50px;
}
.color-visto{
	width: 10px;
	height: 64px;
}
.color-nueva{
	background: turquoise;
	width: 10px;
	height: 64px;
}
/**-----barra de rutas**/
.pl-5{
	padding-left: 5px;
}
/**---Calendario mensual**/
.has-align-items{
	align-items: center;
}
.has-justify{
	justify-content: center;
}
/** historial **/
.color-tag{
	background: #375873 !important;

}
.noti-point{
	background: #1ABC9C;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	position: absolute;
	top: 8%;
	/*right:20%;*/
	right:0%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.noti-point span{
	font-size: 12px;

}
.br{
	border-radius: 5px;
}
.br-left-bottom{
	border-bottom-left-radius:5px !important;
}
.br-right-bottom{
	border-bottom-right-radius:5px !important; 
}
.br-left-top{
	border-top-left-radius: 5px !important;
}
.br-right-top{
	border-top-right-radius:5px !important;
}
.has-background-white{
	background: white;
}
.padless-b{
	padding-bottom: 0px;
}
.text-general{
	color: #34495E;
}
.add-button {
	background: #E5E5E5;
	color: #656565;
	border-radius: 5px;
}
.w-100{
	width: 100%;
}
.width-100{
	width: 100%;
}
.width-50{
	width: 50%;
}
.area-conocimiento{
	/*background: rgba(58, 153, 216, 0.5);*/
	height: 25px;
	display: flex;
	align-items: center;
}
.cont-Materia{
	/*background: rgba(58, 153, 216, 0.5);*/
	width: 120px;
	height: 80px;
	padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	float: left;
	margin: 5px 3px;
}
.height-general{
	height: 390px;
	overflow: auto;
}
.cursor-pointer{
	cursor:pointer;
}
.height-card{
	height: calc(100% - 193px);
}
.move-eye{
	position: absolute !important;
	top: 0;
	float: right;
	right: 0;
	z-index: 100;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.field-d{
	position: relative;
}
.pb-10{
	padding-bottom: 10px; 
}