.categorias{
  background-color: #E74C3D;
  width: 50%;
  height: auto;
  position: relative;
  left: 25%;
  text-align: center;
}

.categorias>h1{
    color: #E6E9F2;
}

.producto{
  background-color: #1565c0;
  width: 50%;
  margin-left: 25%;
  color: #babcba;

}
body{
  background-color: #F4F8FB;
}

.cont_principal{
  width: 20%;
  height: 250px;
  position: relative;
  float: left;
  border: 1px solid gray;
  margin-left: 4%;
  margin-top: 4%;
}

.descripcion{
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre{
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img>i{
  font-size: 100px;
}
.precio-categoria{
  height: 30px;
  position: relative;
}
.carrito{
  position: relative;
  background-color: black;
  height: 40px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.carrito>input{
  width: 15%;
  border: none;
  outline: none;
  margin-left: 5%;
}

.carrito>i{
  font-size: 20px;
  color: white;
  margin-left: 10%;
  cursor: pointer;
}

.carrito>p{
  color: white;
  font-size: 15px;
  margin-left: 10%;
  margin-top: 3.5%;
  cursor: pointer;
}

.cont_pc{
  position: relative;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
}

.mostrar_carrito{
  width: 30% !important;
  position: absolute;
  overflow: auto;
  border: 1px solid;
  background-color: #F4F8FB;
  right: 5%;
  display: none;
}
