<!DOCTYPE html>
{% load staticfiles%}
<html>

<head>
	<title>boARd</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script src="{% static 'js/jquery-3.2.0.js' %}"></script>
	<script src="{% static 'js/funciones_documentos.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
	<meta charset="UTF-8">
</head>

<body>
	<div class="hero is-fullheight height-100vh">
		<!-- Barra Superior Menú -->
		<div class="hero-head">
			<nav class="navbar " style="background:#FFD70C; ">
				<div class="navbar-brand">
					<div class="column is-2 is-paddingless">
						<div class="navbar-brand">
							<p class="navbar-item is-uppercase title is-5 has-text-centered" style="color: white;">Board</p>
						</div>
					</div>
				</div>
				<div class="navbar-menu">
					<div class="navbar-end">
						<div class="navbar-end has-text-centered">
							<div id="verNotificaciones" class="navbar-item has-dropdown" style="align-items: center;">
								<div id="divab" class="navbar-dropdown is-right is-radiusless" style="width: 300px;">
									<p class="has-text-centered title is-6 is-marginless">Notificaciones</p>
									<div class="column is-12 crll" id="notiList"></div>
								</div>
							</div>
							<div class="navbar-item is-hoverable padding-left-0">
								<span class="icon is-medium white">
									<i class="fa fa-user"></i>
								</span>
								<a class="has-text-centered white">
									<p class="has-text-centered is-capitalized">Profesor</p>
								</a>
								<div class="navbar-dropdown is-right is-radiusless">
                                    <!-- <a href="<?=URL?>Maestro/Perfil" class="navbar-item">
										<span class="icon has-text-info">
											<i class="fa fa-user" style="color: #314F67;"></i>
										</span>
										Mi Cuenta
									</a> -->
									<a href="<?=URL?>Usuario/cerrarsesion" class="navbar-item">
										<span class="icon has-text-info">
											<i class="fa fa-sign-out" style="color: #314F67;"></i>
										</span>
										Cerrar Sesion
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<!-- Barra lateral -->
		<div id="downarea" class="hero-body is-paddingless height-3" style="align-items: inherit;">
			<div class="columns is-marginless w-100">
				<div class="column is-2 is-paddingless" style="background-color: #666666;">
					<div class="columns is-marginless">
						<div class="column is-12 is-paddingless">
							<aside class="aside">
								<nav>
									<div class="menu">
										<div class="menu-list" style="margin-top: 2rem;">
											<a href="subirDocumentos.html" class="item white is-active">
												<span class="icon white">
													<i class="fa fa-file-text"></i>
												</span>
												<span>Documentos</span>
											</a>
										</div>
									</div>
								</nav>
							</aside>
						</div>
					</div>
				</div>
				<!-- Columna 12 -->
				<article class="column is-10 is-paddingless" style="background: #F2F1F1;">
					<div class="columns is-marginless is-flex is-vcentered is-centered height-100">
						<div class="column is-12 padding-sides height-100">
							<div class="hero height-100">
								<div class="hero-body is-paddingless height-1">
									<div class="box is-radiusless height-100" style="width: 100%;">
										<!-- Barra de ruta -->
										<div class="columns is-paddingless">
											<div class="column is-12">
												<div class="breadcrumb gray-bar is-small border-radius">
													<ul>
														<li>
															<a href="docentes.html" class="padding-bar">
																<span class="icon is-small pl-5">
																	<i class="fa fa-cloud-upload"></i>
																</span>
																<span>Cargar Documentos</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<!-- Modificar aqui -->
										<div class="columns is-marginless is-centered is-multiline" style="height: calc(100% - 4rem);">
											<div class="column is-6">
												<p class="is-3 has-text-weight-semibold">Subir Archivos</p>
											</div>
											<div style="opacity: 0"  class="column is 6">
												<button class="button  is-success white is-hovered is-pulled-right" type="button" name="button">Subir Documentos</button>
											</div>
											<div class="column is-6 is-paddingless">
												<div class="columns is-marginless is-multiline">
													<div class="column is-12">
														<label class="label">Escoge el aula</label>
														<select onchange="cargar_documentos(this)" id="dataSelect" class="" name="" style="width: 30%;">
															<option value="">Aulas</option>

														</select>
													</div>
													<div class="column is-12 is-paddingless">
															<div class="columns is-marginless is-multiline">
																<div class="column is-12">
																	<div class="field">
																		<label class="label">Selecciona el archivo que deseas subir</label>
																		<div class="control">
																			<form onsubmit="return false;" id="form_agregar_documento">
																				<div class="columns is-marginless is-multiline">
																					<div class="column is-12 is-paddingless">
																						<input id="file_teacher" type="file" name="myFile">
																					</div>

																				</div>

																			</form>
																		</div>
																	</div>
																</div>
															</div>
													</div>

													<div class="column is-12" style="padding-top: 0;">
														<label class="label">Deja un comentario</label>
														<textarea id="comentario" class="textarea has-fixed-size is-shadowless " placeholder="Comentario"></textarea>
													</div>
													<div class="column is-12">
														<input id="btn_agregar_documento" class="button  is-success white is-hovered is-pulled-right" type="submit" value="Subir Documento">
													</div>
												</div>
											</div>

											<div class="column is-5 is-offset-1 is-paddingless" style="height: calc(100% - 3rem);">
												<label class="label" style="padding-top: 0.75rem;">Tus documentos</label>

												<div class="columns is-multiline is-marginless light-gray margin-bottom-5">
													<div class="column is-10 is-vertical-center">
														<p class="has-text-weight-semibold">Nombre de documento</p>
													</div>
													<div class="column">
														<button class="button  is-danger white is-hovered" type="button" name="button">
															<span class="icon white">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</div>
												</div>
												<div class="columns is-multiline is-marginless light-gray margin-bottom-5">
													<div class="column is-10 is-vertical-center">
														<p class="has-text-weight-semibold">Nombre de documento</p>
													</div>
													<div class="column">
														<button class="button  is-danger white is-hovered" type="button" name="button">
															<span class="icon white">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</div>
												</div>
												<div class="columns is-multiline is-marginless light-gray margin-bottom-5">
													<div class="column is-10 is-vertical-center">
														<p class="has-text-weight-semibold">Nombre de documento</p>
													</div>
													<div class="column">
														<button class="button  is-danger white is-hovered" type="button" name="button">
															<span class="icon white">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</div>
												</div>
												<div class="columns is-multiline is-marginless light-gray margin-bottom-5">
													<div class="column is-10 is-vertical-center">
														<p class="has-text-weight-semibold">Nombre de documento</p>
													</div>
													<div class="column">
														<button class="button  is-danger white is-hovered" type="button" name="button">
															<span class="icon white">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</div>
												</div>
												<div class="columns is-multiline is-marginless light-gray margin-bottom-5">
													<div class="column is-10 is-vertical-center">
														<p class="has-text-weight-semibold">Nombre de documento</p>
													</div>
													<div class="column">
														<button class="button  is-danger white is-hovered" type="button" name="button">
															<span class="icon white">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</div>
												</div>


											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
