{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <h2>Producto</h2>
      <form class="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success btn-lg" name="button">Enviar</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}
